
.DS_Store

# IDE
.idea/
__pycache__/

# Pyenv
venv/
.python-version

# SQLite
localfit.db

# Mac
.DS_Store

# IDE
.idea/
__pycache__/

# Pyenv
venv/
.python-version

# Django
*/migrations/

# Python
*.pyc




